<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">    
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Component</button>
      <!-- <button></button> -->
      <!-- rememeber that [element] is the name of the property
           in the server-element.ts which will be assignmed to something NOTICE @INPUT -->
      <app-server-element 
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name] = "serverElement.name"
      >
      <!-- using ng-content tag inside of the server-element we can show the work below! -->
      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
        <em     *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
      </p>
      </app-server-element>
      <!--  [element]="serverElement" ==> will be assigned to what we 
            declared from our let/loop NOTE: inside of App.ts  -->
    </div>
  </div>
</div>
